<!-- adminLogin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
<h2>Admin Login</h2>
<form action="/admin/login" method="post">
    <div>
        <label for="admin">Admin:</label>
        <input type="text" id="admin" name="admin" value="admin" required>
    </div>
    <div>
        <label for="adminPswd">Password:</label>
        <input type="password" id="adminPswd" name="adminPswd" value="pswd" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>

